body{
  background: linear-gradient(
  90deg,
    rgb(12, 75, 113) 0%,
    rgb(0, 183, 255) 100%
  );
}

.App{
  display: flex;
  flex-direction: column;
  background: #161a2b;
  width: 520px;
  min-height: 600px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1{
  color:whitesmoke;
  font-size: 24px;
  margin: 32px 0;
}

.todo-text{
  color:rgb(0, 0, 0);
}

.todo-form{
  margin-bottom: 32px;
  margin-top: 32px;
}

.todo-input{
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border:2px solid #00fffb;
  outline: none;
  width: 320px;
  background: transparent;
}

.todo-input::placeholder{
  color:#e2e2e2;
}



.todo-button{
  padding: 16px;
  border:none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(12, 174, 255) 0%,
    rgb(0, 255, 217) 100%
  );
  color: black
}

.todo-input .edit{
  border: 2px solid #149fff;
}

.todo-button .edit{
  background: linear-gradient(
    90deg,
    rgba(20,15,255,1) 0%,
    rgba(17,122,255,1) 100%,
  );
  padding: 16px 22px;
}



.todo-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 90%;
  color :#fff;

  background: linear-gradient(
    90deg,
    rgb(0, 255, 251) 50%,
    rgb(0, 120, 156) 100%
  );

  border-radius: 5px;
  margin:4px auto;
}


.todo-row:nth-child(4n+1){
  background: linear-gradient(
    90deg,
    rgb(0, 255, 251) 0%,
    rgb(0, 120, 156) 100%
  );
}

.todo-row:nth-child(4n+2){
  background: linear-gradient(
    90deg,
    rgb(0, 255, 251) 25%,
    rgb(0, 120, 156) 100%
  );
}

.todo-row:nth-child(4n+3){
  background: linear-gradient(
    90deg,
    rgb(0, 255, 251) 50%,
    rgb(0, 120, 156) 100%
  );
}

.todo-row:nth-child(4n+4){
  background: linear-gradient(
    90deg,
    rgb(0, 255, 251) 75%,
    rgb(0, 120, 156) 100%
  );
}

.todo-row:nth-child(4n+5){
  background: linear-gradient(
    90deg,
    rgb(0, 255, 251) 100%,
    rgb(0, 120, 156) 100%
  );
}


.icons{
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon{
  margin-right: 5px;
  color:rgb(206, 73, 73);
}
.edit-icon{
  color:#161a2b;
}


.complete{
  text-decoration: line-through;
  opacity:0.3;
}







/*  

:root {
    --bg-color: #f1f1f1;
    --text-color: #333;
    --accent-color: #0077be;
  }
  
  .dark-mode {
    --bg-color: #222;
    --text-color: #f1f1f1;
    --accent-color: #0077be;
  }
  
  .blue-mode {
    --bg-color: #0077be;
    --text-color: #f1f1f1;
    --accent-color: #f1c40f;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
  }
  
  .todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .todo-input {
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .todo-button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--accent-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .todo-button:hover {
    background-color: #666;
  }
  
  .todo-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  ------------------------ 
  
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    background-image: linear-gradient(135deg, var(--bg-color) 0%, #191919 100%);
  }
  
  .todo-wrapper {
    width: 80%;
    max-width: 800px;
    background-color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .todo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 1rem;
    background-color: var(--bg-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 500px;
    height: 50px;
  }
  
  .todo-row:hover {
    background-color: #696969;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .todo-row > div:first-child {
    flex-grow: 1;
    margin-right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    cursor: pointer;
  }
  
  .todo-row > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
  }
  
  .todo-row > div:last-child > svg {
    margin-left: 0.5rem;
  }
  
  .todo-row > div:last-child > svg:hover {
    color: #f00;
  }
  

  */